language: node_js
node_js:
  - 'node'
  - '6.8'
  - '8.6'
  - '10'
  - '11'
services:
  - memcached
  - redis-server
sudo: false
env:
  - CC=clang CXX=clang++ npm_config_clang=1
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
matrix:
  allow_failures:
  - node_js: 'node'
